# Handle line endings automatically for text files
* text=auto

# Ensure all JavaScript, JSON, CSS, MD, and HTML files use LF
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.md text eol=lf
*.html text eol=lf

# Ensure SVG files use LF
*.svg text eol=lf
