/* Base styles for larger screens */
.heroBanner {
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: white;
  color: black;
  margin: 0;
}

.heroContainer {
  width: 40%;
  padding: 10px;
  z-index: 1;
  margin: 0;
  font-size: 1vw; /* Make font-size responsive using viewport units */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 10%;
}

.heroImage {
  width: 60%;
  height: 100vh;
  background-image: url('/img/pyx-clockwork-image-p-1080.jpg');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  min-height: 300px;
}

.header {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* For medium screens (768px and below) */
@media screen and (max-width: 768px) {
  .heroBanner {
    flex-direction: column;
    justify-content: center;
    height: auto;
    text-align: center;
  }

  .heroContainer {
    width: 100%; /* Ensure text container takes full width */
    padding: 1rem;
    font-size: 1.5vw;
    margin-left: 0; /* Remove left margin */
    text-align: center;
  }

  .heroImage {
    display: none; /* Hide the background image */
    width: 0;
    height: 0;
  }

  .heroBanner {
    justify-content: center; /* Center everything */
  }

  .button.button--secondary.button--lg {
    padding: 0.8rem 1.5rem;
    font-size: 1.5vw;
  }
}

/* For small screens (576px and below) */
@media screen and (max-width: 576px) {
  .heroBanner {
    background-image: none; /* Ensure no background image */
    text-align: center;
  }

  .heroContainer {
    width: 100%; /* Full width */
    padding: 1rem;
    font-size: 1.2rem;
    margin-left: 0;
    text-align: center;
  }

  .heroImage {
    display: none;
    width: 0;
    height: 0;
  }

  .button.button--secondary.button--lg {
    padding: 0.6rem 1rem;
    font-size: 2rem;
  }
}