/* Base styles for larger screens */
.heroBanner {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: white;
  color: black;
  margin: 0;
  height: 60vh;
}

.heroContainer {
  width: 100%;
  margin-top: 220px;
  margin-bottom: 220px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 15%;
}

.heroImage {
  width: 100%;
  height: 100%;
  background-image: url('/img/pyx-clockwork-image-p-1080.jpg');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  min-height: 300px;
}

.buttonImage {
  width: 3vh; /* Adjust size to fit the button */
  height: auto;
  margin-left: 15px; /* Space between text and image */
  vertical-align: middle; /* Align image with the text */
}

.header {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* For medium screens (768px and below) */
@media screen and (max-width: 768px) {
  .heroBanner {
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .heroContainer {
    width: 100%; /* Ensure text container takes full width */
    padding: 1rem;
    margin-left: 0; /* Remove left margin */
    text-align: left;
  }

  .heroImage {
    display: none; /* Hide the background image */
    width: 0;
    height: 0;
  }

  .heroBanner {
    justify-content: center; /* Center everything */
  }
}

/* For small screens (576px and below) */
@media screen and (max-width: 576px) {
  .heroBanner {
    background-image: none; /* Ensure no background image */
    text-align: left;
  }

  .heroContainer {
    width: 100%; /* Full width */
    padding: 1rem;
    margin-left: 0;
    text-align: left;
  }

  .heroImage {
    display: none;
    width: 0;
    height: 0;
  }
}